.item img{
    width: 80px;
    height: 80px;
    border-radius: 50px;
  }
.likes{
  font-size: 13px;
}  
.item{
  display: flex;
  justify-content: space-between;
  width: 200px;
}
.postInfo{
  padding-top: 15px;
}