@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
  font-family: 'Nunito', sans-serif;
}


.app-wrapper{
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
}


.app-wrapper-content{
  grid-area: c;
  background-color: rgba(237, 210, 100, 0.322);
}